<!DOCTYPE html>
<html>
<head>
    <title>Лабораторная работа №5</title>
    <style>
        body { font-family: Verdana; margin: 50px; }
        .container { max-width: 600px; margin: auto; }
        .btn { padding: 10px 20px; background: orange; color: white; text-decoration: none; border-radius: 5px; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Лабораторная работа №4</h1>
        <h2>Разработка механизмов аутентификации и авторизации</h2>
        <p>Добро пожаловать, {{ name }}!</p>
        <p>Вы успешно авторизованы.</p>
        <a href="/logout" class="btn">Выход</a>
    </div>
</body>
</html>